.form-check {
    padding-right: 5px;
}

/*#fitem_id_description {
	position: relative
	vertical-align:;
}

.loggedout_infotext {
	background-color: red;
	float:right;
	position: absolute;
	vertical-align: top;
	float: right;

}*/

